               :root {
                  box-sizing: border-box;
              }
              
              #maze {
                  height: 500px;
                  background-color: gray;
                  display: flex;
                  flex-direction: column;
              }
              
              .row {
                  border: 1px solid pink;
                  display: flex;
                  flex-grow: 1;
              }
              
              .block {
                  flex-grow: 1;
              }
              
              .block.wall {
                  background-color: green;
              }
              
              .start {}
              
              .finish {}
              
              #player {}